
.error {
    background: url('http://1.bp.blogspot.com/-BLqF6RXzkew/VUMi0h9_FnI/AAAAAAAAFQo/UvPuIUfklRU/s1600/404-tv-static-robertlemon.jpg') no-repeat center center;
    height: 50vh;
    text-align: center;
}